@import url('https://fonts.googleapis.com/css2?family=Chewy&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-chewy: "Chewy", cursive;
}
